/* 
	Everything style related
 */

* {
	font-family: 'Josefin Slab', serif;
}

.nav {
	position: fixed;
	top: 0;
	padding: 1rem;
	border-bottom: 1px solid #ebebec;
	width: 100%;
	background-color: white;
	text-align: center;
	font-size: 1.5rem;
	z-index: 10;
}

.intro {
	margin-top: 55px;
	width: 80%;
	padding: 2rem;
}

.content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.example {
	/*margin-left: 1rem;
	margin-bottom: 1.5rem;*/
	width: 400px;
	height: 100%;
	padding: .5rem;
	overflow: hidden;
	border: 1px solid #ebebec;
	border-radius: .5rem;
	margin: .5rem;
	position: relative;
	cursor: pointer;
}

.example img {
	/*width: 500px;
	padding-bottom: .5rem;
	border-bottom: 1px solid black;*/
	display: block;
	width: 100%;
	height: auto;
}

.number {
	/*display: inline-block;
	margin: 0;
	font-size: 2rem;*/
	position: absolute;
	bottom: -2%;
	left: 5%;
	font-size: 2rem;
	border-radius: .1rem;
	padding: .5rem;
	background-color: rgba(255, 255, 255, .3);
	
}
.example:hover img{
	transition: all .1s ease;
	transform: scale(1.1);
}

@media (max-width: 576px) {
	/*.example img {
		width: 250px;
	}*/
	.example {
		width: 250px;
	}
}