* {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #ca6d5c;
}

body {
	background: #F7F5F6;
}

.nav p {
	font-size: 17px;
	margin: 30px auto;
}

.intro h1 {
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 5px;
}

.intro h3 {
	display: inline-block;
	max-width: 80%;
	color: #2e2e2e;
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.6px;
}

.media {   
	display:inline-block;    
	margin: auto; 
	line-height: 0;       
	 -webkit-column-count: 5;    
	 -webkit-column-gap: 0px;    
	 -moz-column-count: 5;
	 -moz-column-gap: 0px;
		column-count: 4;    
		column-gap: 0px;
}  

.media img {    
	width: 100% !important;    
	height: auto !important;
	transition: .7s;
} 

section img:hover {
	transform: scale(1.02);
	background: 
  	linear-gradient( 
		rgba(0, 0, 0, 0.45),  
		rgba(0, 0, 0, 0.45)
	);
}

@media (max-width: 1000px) {
	.media {
		-moz-column-count:    3;
		-webkit-column-count: 3;
		column-count:         3;
	}

	.nav p {
		font-size: 22px;
		margin: 35px auto;
	}

	.intro h1 {
		font-size: 25px;
	}
	
	.intro h3 {
		display: inline-block;
		max-width: 85%;
		font-size: 18px;
	}
 }  

@media (max-width: 800px) {
	.media {
		-moz-column-count:    2;
		-webkit-column-count: 2;
		column-count:         2;
	}

	.nav p {
		font-size: 22px;
		margin: 35px auto;
	}

	.intro h1 {
		display: inline-block;
		margin-top: 0px;
		font-size: 25px;
	}
	
	.intro h3 {
		max-width: 87%;
		margin-top: 7px;
		font-size: 17px;
	}
 }  
 
@media (max-width: 400px) {
	.media {
		-moz-column-count:    1;
		-webkit-column-count: 1;
		column-count:        1;
	}

	.nav p {
		font-size: 23px;
		margin: 40px auto;
	}

	.intro h1 {
		font-size: 26px;
		max-width: 80%;
	}
	
	.intro h3 {
		max-width: 85%;
		margin-top: 15px;
		margin-bottom: 35px;
		font-size: 20px;
	}
 }