/* 
	Everything style related
 */

* {
	font-family: 'Josefin Slab', serif;
}

.nav {
	position: fixed;
	top: 0;
	padding: 1rem;
	border-bottom: 1px solid black;
	width: 100%;
	background-color: white;
}

.intro {
	margin-top: 55px;
	width: 80%;
	padding: 2rem;
}

.content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.example {
	margin-left: 1rem;
	margin-bottom: 1.5rem;
}

.example img {
	width: 500px;
	padding-bottom: .5rem;
	border-bottom: 1px solid black;
}

.number {
	display: inline-block;
	margin: 0;
	font-size: 2rem;
}

@media (max-width: 576px) {
	.example img {
		width: 250px;
	}
}